# ---------------------------
# Python / Conda / Virtualenv
# ---------------------------
.env
.venv
venv/
__pycache__/

# ---------------------------
# OPSEC sensitive data
# ---------------------------
opsec/data/*
opsec/reports/*

# Keep directory structure
!opsec/reports/.gitkeep
